// ---------------------------------------- //
// --------------- MAIN HEADER ------------ //
// ---------------------------------------- //
.main__header
    background $blue
    color $white
    
    