//- -------------- Footer ---------------- -//
//- -------------------------------------- -//

footer.main__footer
    p.main__fotter__legal All content #[sup ®] 2015 Chattem, Inc. All rights reserved.
                
