/* GLOBAL VARIABLES */
$size-desktop             = 1800px
$size-desktop-in          = 1020px
$vp-desktop-min           = 1025px

$vp-tablet-min            = 769px
$vp-tablet-max            = 1024px
$size-tablet-in           = 820px

$vp-mobile-min            = 320px
$vp-mobile-max            = 768px


//------------------ COLOR VARIABLES -------------------//
$bg-color       = #5985b1


/* BLUE COLORS */
$cyan           = #6adaff
$dark-blue      = #022e80
$blue           = #2974ab
$bright-blue    = #0099cc
$light-blue     = #d1e1f4
$bay-of-many    = #233A86
$chathams-blue  = #1b468e
$minsk          = #3a2e7d
$glitter        = #dfeaf7
$tory           = #0d5ea4


/* HOT COLORS */
$orange         = #eb5d2b
$dark-orange    = #ac2d01
$light-yellow   = #ffca82

$dark-cerulean  = #0C3E78

$link-water     = #d2e2f4

/* GRAYSCALE COLORS */
$white          = #FFF
$black          = #000
$dark-gray      = #555555
$medium-gray    = #838383
$mine-shaft     = #3e3e3e
$silver-sand    = #c3c4c4
$black-haze     = #e9eaea
$loblolly       = #c0cdd2
$periwinkle-gray    = #bfd4e8
$iron           = #e5e6e7



//------------- FONTS ---------------//
$font-title-regular         = 'ProximaNova-Regular'
$font-title-semibold        = 'ProximaNova-Semibold'
$font-title-bold            = 'ProximaNova-Bold'
$font-title-extrabold       = 'ProximaNova-Extrabold'
$font-title-semibold-italic = 'ProximaNova-SemiboldItalic'
$font-normal                = Arial, sans-serif, 'Helvetica Neue', Helvetica
$font-wt-light              = 300
$font-wt-regular            = 400
$font-wt-bold               = 700
$font-wt-extrabold          = 900


//------------------- BRAKEPOINTS -------------------//
media_queries = {
    mobile  : "only screen and (min-width: "+ $vp-mobile-min +") and (max-width: "+ $vp-mobile-max +")",
    tablet  : "only screen and (min-width: "+ $vp-tablet-min +") and (max-width: "+ $vp-tablet-max +")",
    desktop : "only screen and (min-width: "+ $vp-desktop-min +")"
}







